# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/server/db/filmorate.mv.db
/db/filmorate.trace.db
/server/.mvn/wrapper/maven-wrapper.jar
/server/.mvn/wrapper/maven-wrapper.properties
/server/mvnw
/server/mvnw.cmd
/server/src/test/java/ru/hackathon/server/ServerApplicationTests.java
/db/hackathon.mv.db
/server/db/hackathon.mv.db
