.header {
  font-size: 40px;
  text-align: center;
  color: rgb(131, 102, 138);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}
.header span {
  display: inline-block;
  transition: transform 0.8s;
}
.header span:hover {
  /* animation: spin 1s linear infinite; */
  /* display: inline-block; */
  transform: rotateY(360deg);
}
/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.button {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 0.1em;
  cursor: pointer;
  background: #fff;
  color: rgb(131, 102, 138);
}

.button:hover {
  background: #f9ebde;
}

.field {
  width: 500px;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;

  padding: 30px;

  border-radius: 5%;
  background-color: rgb(131, 102, 138);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.field-disabled {
  pointer-events: none;
}

.score {
  color: rgb(131, 102, 138);
  font-size: 20px;
}
