.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e3b6b6;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.popup h3 {
  font-size: 25px;
}
.popup p {
  font-size: 20px;
}

.popup button {
  margin-top: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 0.1em;
  cursor: pointer;
  background: #fff;
}

.popup button:hover {
  background: rgb(131, 102, 138);
}
