* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  align-items: center;
  background: rgb(240, 247, 212);
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 10px 0px;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    gap: 50px;
  }
}
@media (max-width: 450px) {
  .container {
    gap: 70px;
  }
}
